.overlay {
  /* || Dimensions */
  /* || Positioning */
  position: absolute;
  inset: 0;
  /* || Design */
  --opacity: 0.5;
  opacity: var(--opacity);
  /* || Content */
  overflow: hidden;
  /* || Utility */
  pointer-events: none;
}

.line {
  /* || Dimensions */
  /* || Positioning */
  position: absolute;
  inset: 0;
  /* || Design */
  --color: 0, 0, 0;
  /* || Content */
  /* || Utility */
}

.line.diagonalForward {
  /* || Dimensions */
  /* || Positioning */
  transform: translate(calc(var(--size) * var(--translateX)), calc(var(--size) * var(--translateY))) scale(var(--scale));
  /* || Design */
  background:
    linear-gradient(to top left,
      rgba(var(--color), 0) 49%,
      rgba(var(--color), 255) 49%,
      rgba(var(--color), 255) 51%,
      rgba(var(--color), 0) 51%)
  /* || Content */
  /* || Utility */
}

.line.diagonalBackward {
  /* || Dimensions */
  /* || Positioning */
  transform: translate(calc(var(--size) * var(--translateX)), calc(var(--size) * var(--translateY))) scale(var(--scale));
  /* || Design */
  background:
    linear-gradient(to bottom left,
    rgba(var(--color), 0) 49%,
    rgba(var(--color), 255) 49%,
    rgba(var(--color), 255) 51%,
    rgba(var(--color), 0) 51%)
  /* || Content */
  /* || Utility */
}

.line.row {
  /* || Dimensions */
  /* || Positioning */
  transform: translateY(calc(var(--size) * var(--translateY)));
  /* || Design */
  background:
    linear-gradient(to bottom,
    rgba(var(--color), 0) 49%,
    rgba(var(--color), 255) 49%,
    rgba(var(--color), 255) 51%,
    rgba(var(--color), 0) 51%)
  /* || Content */
  /* || Utility */
}

.line.column {
  /* || Dimensions */
  /* || Positioning */
  transform: translateX(calc(var(--size) * var(--translateX)));
  /* || Design */
  background:
    linear-gradient(to right,
    rgba(var(--color), 0) 49%,
    rgba(var(--color), 255) 49%,
    rgba(var(--color), 255) 51%,
    rgba(var(--color), 0) 51%)
  /* || Content */
  /* || Utility */
}