.bingoGameArea {
  /* || Dimensions */
  --size: 70vmin;
  width: var(--size);
  height: var(--size);
  /* || Positioning */
  position: relative;
  margin-inline: auto;
  /* || Design */
  /* || Content */
  /* || Utility */
}