/* || LAYOUT */

.bingoGrid {
  /* || Dimensions */
  height: 100%;
  /* || Positioning */
  position: relative;
  /* || Design */
  /* || Content */
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 3vmin;
  
  align-items: stretch;
  justify-items: stretch;
  overflow: clip;
  /* || Utility */ 
}