.App {
  /* || Dimensions */
  height: 100vh;
  width: 100%;
  /* || Positioning */
  /* || Design */
  --col-bg-pri: #282c34;
  --col-bg-sec: #363b46;
  --col-bg-ter: #8190ac;
  --col-fg-pri: #d9dde4;
  --col-fg-sec: #7d8ca5; 
  --col-fg-ter: #4e5158;

  color: var(--col-fg-pri);
  background-color: var(--col-bg-pri);
  text-align: center;
  /* || Content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* || Utility */
}

.App a, a:visited {
  color: var(--col-fg-pri);
}

.App #title {
  /* || Dimensions */
  width: 60%;
  /* || Positioning */
  position: relative;
  margin: auto;
  /* || Design */
  font-size: 20vmin;
  /* || Content */
  align-items: center;
  /* || Utility */
}

.App #content {
  /* || Dimensions */
  width: 100%;
  flex-grow: 1;
  /* || Positioning */
  /* || Design */
  /* || Content */
  /* || Utility */
}

.App input {
  background-color: var(--col-fg-ter);
  border-radius: 20px;
  border-style: solid;
  border-color: var(--col-fg-sec);
  padding-inline: 10px;
  color: var(--col-fg-pri);
}

.App input:focus {
  background-color: var(--col-bg-ter);
  border-color: var(--col-fg-pri);
  outline: none;
}